$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap-flex.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// MODULES AND VARIABLES
// .....................
@import "partials/base";
@import "partials/global";
@import "partials/custom";

// PARTIALS
// ........
@import "partials/reset";
@import "partials/typography";
@import "partials/grids";
@import "partials/uark-styles";
@import "partials/nav";
@import "partials/logo";
@import "partials/hero";
@import "partials/dept-card";
@import "partials/footer";

