// VENDOR INCLUDES
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap-flex.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// HELPERS
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

// BASE
@import "base/reset";
@import "base/typography";

// COMPONENTS
@import "components/colors";
@import "components/carousel";
@import "components/buttons";
@import "components/nav";
@import "components/cover";
@import "components/header";
