@import "helpers/variables";

// .............................
// TYPOGRAPHY
// .............................

$display1-weight         : 300 !default;
$display2-weight         : 400 !default;
$display3-weight         : 700 !default;
$display4-weight         : 900 !default;

$light: $display1-weight;
$normal: $display2-weight;
$semibold: $display3-weight;
$bold: $display4-weight;

$text-color: $gray-dark;

html {
  font-smoothing: subpixel-antialiased !important;
  font-size: $font-size-root;
}
body {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: $light;
  line-height: $line-height;
}
