@import "base";

//////////
// WRAPPER
//////////

.dept-wrapper {
  @include make-container();
  max-width: 60rem;
  padding-top: 6rem;

  header {
    text-transform: uppercase;
    font-size: $font-size-h1 !important;
    font-weight: 700;
    color: $brand-vac;
  }
  section {
    font-size: $font-size-h3;
  }
  a {
    color: $brand-vac !important;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: $line-height;
  }
  b {
    color: $black;
    font-weight: 900;
  }
  i {
    color: $brand-vac;
    padding-right: 2rem;
  }
  address {
    line-height: 1.7;
  }
  figure {
    width: 100%;
    height: auto;
  }
}

///////////////////
// ABOUT SECTION //
///////////////////
.about {
  @include make-row();
}
.programs {
  @include make-row();
}
.signature {
  @include make-col-span(6);
}
.events {
  @include make-col-span(6);
}
.get-involved {
  @include make-row();
}
.contact {
  @include make-row();
}
.location {
  @include make-col-span(5);
}
.social {
  @include make-col-span(5);
}
.logo {
  @include make-col-span(2);
}
