@import "base";

.dept-info {
  max-width: 60rem;
  padding-top: 6rem;
  @include make-container();

  header {
    text-transform: uppercase;
    font-size: $font-size-h1 !important;
    font-weight: 700;
    color: $brand-vac;
}
  section {
    font-size: $font-size-h3;
  }
  a {
    color: $brand-vac !important;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: $line-height;
  }
  b {
    color: $black;
    font-weight: 900;
  }
}

.about {
  margin-bottom: 1rem;
  @include make-row();
}

.programs {
  @include make-row();
}

.signature {
  @include make-col-span(6);
}

.events {
  @include make-col-span(6);
}

.dept-start {
  @include make-row();
  color: $brand-vac;
}

.contact {
  @include make-row();
}

.dept-contact {
  @include make-col-span(4);
}

.social {
  padding-top: 4rem;
  @include make-col-span(4);
  a {
    padding-left: 1rem;
  }
  i {
    padding-left: 1rem;
    padding-right: 1rem;
    color: $black;
  }
}

.logo {
  @include make-col-span(4);
}
.logo-small{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10rem;
  margin-right: 33rem;
  margin-bottom: 3rem;

}
