// @import "base";

// full-width featured section
.calendar {
  @include make-col();
  @include make-col-span(5);
  background: gray;
  color: $white;
}

.program-info {
  @include make-col();
  @include make-col-span(7);
  background: lightgray;
  color: $white;
}

// .card {
//   float: left;
//   width: 33.333%;
//   height: auto;
//   padding: .75rem;
//   margin-bottom: 2rem;
//   border: 0;
// }
// .card > img {
//   margin-bottom: .75rem;
// }
// .card-text {
//   font-size: 85%;
// }
// ...........................
