@import 'base';
@import 'typography';

// .......................
// GLOBAL STYLES
// .......................

html {
  font-size: $font-size-root;
  font-smoothing: antialiased;
}

body {
  font-family: $lato;
  overflow-x: hidden;
}

html {
  position: relative;
  font-smoothing: subpixel-antialiased !important;
  min-height: 100%;

  body {
  }
}

body {
  // margin bottom by footer height
  margin-bottom: 6rem;
}
.container {
  max-width: 100% !important;
}

.container-main {
  @include make-container();
}

