//////////////
//BRAND COLORS
//////////////

$red           : rgb(157,34,53)  !default;  // razorback red
$vac           : rgb(132,47,167) !default;  // VAC
$dreambig      : rgb(255,88,89)  !default;  // dream big
$engagement    : rgb(31,207,203) !default;  // student engagement
$recovery      : rgb(245,186,10) !default;  // RFR
$pantry        : rgb(0,180,78)   !default;  // pantry
$literacy      : rgb(42,125,226) !default;  // literacy

$gray-dark     : rgb(14,14,14) !default;
$gray          : rgb(41,41,41) !default;
$gray-light    : rgb(85,89,92) !default;

$white         : rgb(255,255,255) !default; // white
$black         : rgb(0,0,0) !default;       // black
