// NAVIGATION
@import 'helpers/variables';
.off-canvas-dropdown {
  background: transparent;
}

.navbar {
  margin-bottom: 0;
}
.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: .2rem solid darken($brand-red, 3%);
}
.navbar-collapse h4 {
  color: $white;
}
.navbar-collapse .text-muted {
  color: $white;
}
.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}
.social a {
  font-weight: 500;
  color: $white;
}
.social a:hover {
  color: $white;
}

.navbar.navbar-static-top.navbar-dark.bg-inverse {
  background: transparent;
  color: $gray-dark;
}
div#navbar-header {
  background: $brand-red;
  color: $white;
}
.about a {
  color: $white;
  text-decoration: underline;
}
