// typographic styles and mixins
// .............................

h1, h2, h3,
h4, h5, h6 {
  text-rendering : optimizeLegibility;
  line-height    : 1;
  margin-top     : 0;
  font-family    : $lato;
}

h1 {
  font-size      : $h1-font-size;
  font-weight    : 700;
  line-height    : 1.2em;
  letter-spacing : -2px;
  text-indent    : -3px;
}

h2 {
  font-size      : $h2-font-size;
  line-height    : 1.2em;
  letter-spacing : -1px;
  text-indent    : -2px;
}

h3 {
  font-size      : $h3-font-size;
}

h4 {
  font-size      : $h4-font-size;
}

h5 {
  font-size      : $h5-font-size;
}

h6 {
  font-size      : $h6-font-size;
}
